@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
:root{
  --btn_bg_color: #00DAC8;
}
html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: #00DAC8;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.row{
  margin:0;
  padding:0;
}
.bg-black{
  background: #000000 ;
}
.bg-rosewood{
  background: #65000B;
}
.bg-blue{
  background: #19437D;
}
.bg-purple{
  background: #6A1F82;
}
.btn-bg-yellow{
  background: #EEF20C;
}
.text-white{
  color:#ffffff;
}
.digitvl-main-logo-img{
  width: 15%;
  height: auto;
}
.digitvl-text-logo-img{
  width: 500px;
  height: auto;
}
.digitvl-nft-utility-img{
  width: 500px;
  height: 500px;
}
.digitvl-iframe{
  width: 100%;
  height: 600px;
}
.custom-text1{
  font-size: 40px;
  font-weight: 600;
}
.text-black{
  color: #000000;
}
.height-100vh{
  height: 100vh;
}
.custom-text2{
  color: var(--btn_bg_color);
  font-size: 30px;
  font-weight: 600;
}
.custom-heading-section1{
  font-size: 38px;
  font-weight: 600;
}
.custom-text-section2{
  font-size: 25px;
  font-weight: 400;
}
.btn-outline-primary {
  color: var(--btn_bg_color);
  background-color: transparent;
  border-color: var(--btn_bg_color);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--btn_bg_color);
  border-color: var(--btn_bg_color);
}

.btn-primary {
  color: #fff;
  background-color: var(--btn_bg_color);
  border-color: var(--btn_bg_color);
}
.bg-primary-dark {
  background: #162332;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--btn_bg_color);
  border-color: var(--btn_bg_color);
}
.dtree-links-username{
  font-size: 36px;
  font-weight: 700;
  color: var(--btn_bg_color);
}
.dtree-profile-page{
  height: 100%;
}
@media screen and (max-width: 540px) {
  .digitvl-main-logo-img{
    width: 40%;
    height: auto;
  }
  .digitvl-text-logo-img{
    width: 300px;
    height: auto;
  }
  .digitvl-nft-utility-img{
    width: 100%;
    height: auto;
  }
  .digitvl-iframe{
    width: 100%;
    height: 315px;
  }
  .custom-text1{
    font-size: 20px;
    font-weight: 600;
  }
  .custom-text2{
    font-size: 15px;
  }
  .custom-text-section2{
    font-size: 20px;
  }
}